* {
    margin: 0;
    padding: 0;
  }
  .cintillo {
    background-color: gray;
    display: flex;
    font-family: "Anek Telugu", sans-serif;
    font-weight: 200;
    color: white;
    justify-content: end;
    height: 20px;
  }
  header nav div ul li {
    font-family: "Anek Telugu", sans-serif;
    font-weight: 400;
  }
  